<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Weatherbit.io API Test Suite">

	<test thread-count="2" name="GET: Current Weather Using Latitude and Longtitude">
		<classes>
			<class name="tests.AC1" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="2" name="GET: Current Weather Using City ID">
		<classes>
			<class name="tests.AC2" />
		</classes>
	</test> <!-- Test -->

	<test thread-count="2" name="GET: Air Quality Using Postal Code">
		<classes>
			<class name="tests.AC3" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
